body{
    font-family: monospace;
    padding-top: 30px ;
    padding-bottom: 30px;

}
.background{
    background-image: url("personal-website/header-bg.png");
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 100px;
    padding-left: 200px;
}
p{
    font-size: 15px;
}
h3{ 
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h1{ 
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(226, 23, 50, 0.726);
}
.first{
    width: 45%;
    margin-left: 2px;
    padding-left: 5px;
    float: left;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgba(226, 23, 50, 0.726),rgba(209, 51, 72, 0.575));
    border-radius: 5px;
    color: whitesmoke;
    padding: 2px 4px 2px 4px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    width: 70%;
    
}
h2{
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.back{
    background-image: url("personal-website/latest-work-bg.png");
    background-repeat: no-repeat;
    padding-right: px;
    padding-left: 50px;
    padding-bottom: 200px;
}
.second{
    width: 30%;
    float:left;
    padding-bottom: 15px;
    padding-left: 0%;
    padding-right: 0%;
}
#middle{
    font-size: 38px; 
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.last{
    margin: auto;
    padding: 50px;
}
.bold{
    font-weight: 700;
    text-align: center;
}
.little{
    color: gray;
    text-align: center;
}
.text-box{
    text-align: center;
    margin: auto;
    padding: 5px;
    border: antiquewhite;
    border-width: 33%;
}
.message{
    font-weight: 700;
    text-align: center;
    background-color: gray;
    padding: 5px;
    border: 5px;
    box-shadow: gray;
    width: 40%;
    margin: auto;

}
.center{
    display: flex;
    margin: auto;
    position: absolute;

}